* {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50vh;
}

#btn {
  height: 50px;
  width: 170px;
  font-size: 15px;
  background-color: #0090F6;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
}

.modal {
  visibility: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  align-items: center;
  background-color: #fefefe;
  padding: 25px;
  border: 1px solid #888;
  width: 45%; 
  height: 32%;
  border-radius: 6px;
}

.modal-image {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.modal-image-img {
  height: 15vh;
  width: 15vw;
  object-fit: cover;
}

.image-arrow-left {
  height: 2vh;
  width: 2vw;
}

.image-arrow-right {
  height: 2vh;
  width: 2vw;
}

.modal-title-close-btn {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: -20px;
}

#modal-close {
  margin-top: -8px;
  font-size: 30px;
  font-weight: 300;
}

#modal-close:hover {
  cursor: pointer;
}

.modal-title {
  font-size: 17px;
}

.modal-price {
  font-size: 17px;
  margin-bottom: 10px;
  color: #0090F6;
}

.modal-size {
  margin-bottom: 5px;
  font-size: 12px;
}

.modal-variant {
  font-size: 12px;
}

.modal-size-buttons {
  margin-bottom: 20px;
}

.modal-size-buttons-btn-1, .modal-size-buttons-btn-2, .modal-size-buttons-btn-3 {
  background-color: white;
  height: 35px;
  width: 95px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid lightgray;
  color: gray;
}

#modal-variant-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22vw;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 6px;
  min-width: 20px;
}

.modal-variant-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 20px;
}

.dropdown-variant-icon {
  height: 2vh;
  width: 2vw;
}

.modal-size-buttons-btn-1:focus,
 .modal-size-buttons-btn-2:focus,
  .modal-size-buttons-btn-3:focus {
  border: 2px solid #0090F6;
  color: black;
}

#modal-dropdown{
  display: none;
}

#modal-dropdown-list {
  list-style: none;
  position: absolute;
  width: 21vw;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-top: -20px;
}

.dropdown-element-1, .dropdown-element-2, .dropdown-element-3 {
  padding: 8px;
  cursor: pointer;
}

.check-icon {
  height: 2vh;
  width: 2vw;
  color: green;
  font-weight: bold;
}

.clock-icon {
  height: 2vh;
  width: 2vw;
}

.cross-icon {
  height: 2vh;
  width: 2vw;
  display: none;
  color: red;
}

.modal-product-available {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-product-available-left {
  display: flex;
  align-items: center;
}

.modal-product-available-right {
  display: flex;
  align-items: center;
}

#modal-product-available-status {
  font-size: 12px;
}

#modal-product-unavailable-status {
  font-size: 12px;
  display: none;
}

#modal-shipping {
  font-size: 12px;
}

#modal-shipping-costs {
  font-size: 12px;
  color: #0090F6;
}

.modal-checkout-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout-btn-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 9vw;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.checkout-btn-left span {
  font-weight: bold;
  font-size: 15px;
  margin: 0 10px;
}

.checkout-number {
  font-weight: lighter !important;
}

.checkout-btn-right {
  height: 45px;
  width: 14vw;
  border-radius: 6px;
  border: none;
  background-color: #0090F6;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .modal-content {
    width: 52%; 
    height: 32%;
  }

  .modal-image-img {
    height: 15vh;
    width: 16vw;
    object-fit: cover;
  }

  .modal-title {
    font-size: 15px;
  }

  .modal-price {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .checkout-btn-left {
    height: 45px;
    width: 11vw;
  }

  .checkout-btn-right {
    height: 45px;
    width: 17vw;
  }

  #modal-variant-btn {
    width: 29vw;
    height: 30px;
  }
}

@media screen and (max-width: 1110px) {
  .modal-content {
    flex-direction: column-reverse;
    width: 37%; 
    height: 44%;
  }

  .modal-size-buttons-btn-1, .modal-size-buttons-btn-2, .modal-size-buttons-btn-3 {
    height: 28px;
    width: 75px;
    font-size: 10px;
  }

  .modal-size-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  #modal-variant-btn {
    width: 34vw;
    height: 30px;
  }
}

@media screen and (max-width: 980px) {
  .modal-content {
    flex-direction: column-reverse;
    width: 40%; 
    height: 44%;
  }

  .modal-size-buttons {
    justify-content: space-evenly;
  }

  #modal-variant-btn {
    width: 40vw;
    height: 30px;
  }

  .checkout-btn-left {
    height: 45px;
    width: 15vw;
  }

  .checkout-btn-right {
    height: 45px;
    width: 22vw;
  }
}

@media screen and (max-width: 820px) {
  .modal-content {
    flex-direction: column-reverse;
    width: 40%; 
    height: 39%;
  }

  .modal-size-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  #modal-variant-btn {
    width: 39vw;
  }

  .modal-image-img {
    height: 11vh;
    width: 11vw;
    object-fit: cover;
  }

  .modal-title {
    font-size: 12px;
  }

  .modal-price {
    font-size: 12px;
  }

  .modal-close {
    font-size: 25px;
    margin-left: 10px;
  }

  .checkout-btn-left {
    height: 45px;
    width: 14vw;
  }

  .checkout-btn-right {
    height: 45px;
    width: 21vw;
  }
}

@media screen and (max-width: 780px) {
  .modal-content {
    width: 47%; 
    height: 38%;
  }

  .modal-image-img {
    width: 30vw;
    object-fit: contain;
  }

  #modal-variant-btn {
    width: 48vw;
    font-size: 10px;
  }

  .checkout-btn-left {
    width: 19vw;
  }

  .checkout-btn-right {
    height: 45px;
    width: 25vw;
  }

  #modal-product-available-status {
    font-size: 9px;
  }

  #modal-product-unavailable-status {
    font-size: 9px;
  }

  #modal-shipping, #modal-shipping-costs {
    font-size: 8px;
  }
}
